#all {
    padding-top: 0px;
    color: #ff0000;
}

.navbar-inverse .navbar-nav > li > a {
color: #000;
}

.navbar .nav {
    padding: 0 0;
}

.navbar .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    #all {
        padding-top: 100px;
    }

    .navbar .navbar-brand {
        padding: 15px 0;
    }
}